{% extends "base.html" %}

{% block title %}
    sell
{% endblock %}

{% block main %}
    <div class="login-page">
        <div style="background-color: #343A40" class="form">
            <form class="login-form" action="/sell" method="post">
                <h2 style="color: #f2f2f2" id="form_info">Sell Shares</h2><br>
                {{ form.hidden_tag() }}
                <select name="symbol">
                    <option value="" disabled="disabled" selected="selected">Please select symbol</option>
                    {% for item in choice %}
                        <option value={{ item.symbol }}>{{ item.symbol }}</option>
                    {% endfor %}
                </select>
                {# {{ form.select_shares(placeholder='Please select name') }}#}
                {{ form.number(placeholder='Shares', type="number") }}
                {% for error in form.number.errors %}
                    <div class="err_form">
                        <ul>
                            <li>{{ error }}</li>
                        </ul>
                    </div>
                {% endfor %}
                <button>Sell</button>
            </form>
        </div>
    </div>
{% endblock %}
